.title {
  font-weight: 700;
  font-size: 1.285714285714286rem;
}
.sortHeader {
  display: flex;
  gap: 30px;
  .totalCount {
    display: flex;
    gap: 10px;
    align-items: center;
    .total {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fbbd06;
    }
  }
}
