.tableContainer {
  box-shadow: none;
  .percent {
    font-weight: 700;
  }
  .positive {
    color: rgb(48, 190, 129);
    font-weight: 700;
  }
  .negative {
    color: rgb(235, 65, 55);
    font-weight: 700;
  }
  .imageField {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    .currencyName {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .numberPrefix {
        width: 20px;
        height: 20px;
        background-color: #e0e0e0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
