.tableContainer {
  box-shadow: none;
  margin-top: 5px;
  
  .tableRow {
    background-color: #fafafa;
    border-radius: 8px;
  }
  .select {
    color: black;
  }
  .tableHeader {
    font-weight: 700;
  }
  .percentdir {
    direction: ltr;
  }
  .price {
    direction: ltr;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .percent {
    font-weight: 700;
  }
  .positive {
    color: rgb(48, 190, 129);
    font-weight: 700;
  }
  .negative {
    color: rgb(235, 65, 55);
    font-weight: 700;
  }
  .imageField {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    .currencyName {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .currencyEnName {
        color: black;
        font-weight: 700;
      }
      .currencySymbol {
        display: flex;
        gap: 10px;
        direction: ltr;
        .numberPrefix {
          width: 20px;
          height: 20px;
          background-color: #e0e0e0;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
        }
      }
    }
  }
}
.emptyImage{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}