body {
  // ______________________________ main colors ______________________________ //
  --color-primary-1: #1c1c1e;
  --color-primary-2: #2c2c2e;
  --color-secondary-1: #00d3ff;
  --color-tertiary-1: #f7931a;
  --color-light-1: #ffffff;
  --color-light-2: #f2f2f2;
  --color-success: #17a66a;
  --color-danger: #f74a4a;
  --color-warning: #f3ba2f;
  --color-info: #0dcaf0;
  // ______________________________ other colors ______________________________ //
  --color-background-primary: #1c1c1e;
  --color-background-secondary: #2c2c2e;
  --color-background-tertiary: #3a3a3c;
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffffaa;
}
