@font-face {
  font-family: "iransans";
  font-weight: 400;
  src: url("../../public/font/iranSans/IranSans-400.woff2");
}

@font-face {
  font-family: "iransans";
  font-weight: 500;
  src: url("../../font/iransans/iransans-500.woff2");
}

@font-face {
  font-family: "iransans";
  font-weight: 700;
  src: url("../../font/iransans/IranSans-700.woff2");
}

@font-face {
  font-family: "lora";
  font-weight: 500;
  src: url("../../font/lora/lora-500.ttf");
}
