@font-face {
  font-family: "iransans";
  font-weight: 400;
  src: url("../../public/font/iranSans/IranSans-400.woff2");
}

@font-face {
  font-family: "iransans";
  font-weight: 500;
  src: url("../../public/font/iranSans/IranSans-500.woff2");
}

@font-face {
  font-family: "iransans";
  font-weight: 700;
  src: url("../../public/font/iranSans/IranSans-700.woff2");
}
@font-face {
  font-family: "lora";
  font-weight: 500;
  src: url("../../public/font/lora/lora-500.ttf");
}
* {
  font-family: "iransans";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "iransans";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dir {
  direction: rtl;
}
.dir-l {
  direction: ltr;
}

.MuiButton-text,
.MuiButton-root {
  font-family: "iransans";
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #616161;
}
